.b-tabs {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__wrapper {
    border-radius: 20px;
    width: 50%;
    height: 200px;
  }

  &__header {
    display: inline-flex;

    &:hover {
      cursor: pointer;
    }

    & .tab {
      color: $color-white;
      background-color: $color-yellow;
      border: 1px solid $color-green;
      display: inline-block;
      padding: 0.5em 1em 3px;
      margin: 0.05em;
      border-radius: 20px 1em 0 0;
      transition: all 0.1s;

      &:hover {
        background-color: null;
      }
    }

    .active {
      background-color: $color-green;
      color: $color-white;
    }
  }

  &__tabContent {
    z-index: 10;
    padding: 20px;
    background-color: $color-green;
    border-radius: 0 0 20px 20px;
    height: 100%;
    margin-top: -1px;
    z-index: 1;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;



    button {
      height:50px;
      background:$color-yellow ;
      outline: none;

      &:hover {
        background-color: $color-white;
      }
    }
  }
}

.show {
  display: block;
}
