* {
  box-sizing: border-box;
  font-size: 20px;
  color: $color-white;
}

html {
  min-height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(45deg, $color-white 0%,$color-yellow 100%);
  background-repeat: no-repeat;
}

button {
  color: black;
}

button:hover {
  cursor: pointer;

}
